<div class="container">
  <div class="row">
    <h2>StudentDetails</h2>
    <div class="col-xs-6">
      <label>
        Name: </label><br>
      <input type="text" [formControl]="name" class="form-control" required>
      <p>
        {{name.value}}
      </p><br>
      <label>LastName</label><br>
      <input type="text" [formControl]="lastname" class="form-control" required>
      <p>
        {{lastname.value}}
      </p><br>
      <label>Std</label><br>
      <input type="text" [formControl]="std" class="form-control" required>
      <p>
        {{std.value}}
      </p><br>
      <label>gender</label><br>
      <input type="radio" [formControl]="gender" value="male" class="form-group">male
      <input type="radio" [formControl]="gender" value="female" class="form-group" >female<br>
      <label>Hobby</label><br>
      <input type="checkbox" [formControl]="checkbox" value="1" class="form-group">cricket<br>
      <input type="checkbox" [formControl]="checkbox" value="2" class="form-group">football<br>
      <input type="checkbox" [formControl]="checkbox" value="3" class="form-group">swimming<br>

      <label>Dob</label><br>
      <input type="date" [formControl]="dob" class="form-control" required>
      <button type="submit" class="btn btn-primary">add</button>
    </div>
  </div>
</div>




