
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shoppinglist</a> </li>
        <li><a href="#">Edit Recipe</a> </li>
        <li><a href="#">Delete Recipe</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" >

  </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    ingredients
  </div>
</div>

