<!--&lt;!&ndash;<app-student-form></app-student-form>&ndash;&gt;-->
<!--<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-8">-->
<!--      <button class="btn btn-primary" (click)="onlyodd = !onlyodd ">only odd number</button>-->
<!--      <br>-->
<!--      <ul class="list-group">-->
<!--        <div *ngIf="onlyodd">-->

<!--        <li class="list-group-item" [ngClass]="{odd:odd%2!==0}" *ngFor = "let odd of oddnumbers">-->

<!--          {{odd}}-->
<!--        </li>-->
<!--        </div>-->
<!--        <div *ngIf="!onlyodd">-->
<!--        <li class="list-group-item" [ngClass]="{even:even%2!==0}" *ngFor = "let even of evennumbers">-->
<!--          {{even}}-->
<!--        </li>-->
<!--        </div>-->
<!--        <p appBasicHighlight>yeah!!!!!</p>-->
<!--        <p appBetterdirective>yeah!!</p>-->
<!--        <div [ngSwitch]="value">-->
<!--          <p *ngSwitchCase="5">value is 5</p>-->
<!--          <p *ngSwitchCase="10">value is 10</p>-->
<!--          <p *ngSwitchCase="100">value is 100</p>-->
<!--          <p *ngSwitchDefault>value is default</p>-->

<!--        </div>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<h1>My First Attribute Directive</h1>-->

<!--<h4>Pick a highlight color</h4>-->
<!--<div>-->
<!--  <input type="radio" name="colors" (click)="color='lightgreen'">Green-->
<!--  <input type="radio" name="colors" (click)="color='yellow'">Yellow-->
<!--  <input type="radio" name="colors" (click)="color='cyan'">Cyan-->
<!--</div>-->
<!--<p [appStruct]="color">Highlight me!</p>-->

<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>-->
<!--      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<h2>{{text}}</h2>-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>Emp Code</th>-->
<!--    <th>Emp Name</th>-->
<!--    <th>Salary</th>-->
<!--    <th>Dob</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let employee of employees">-->
<!--    <td>{{employee.code}}</td>-->
<!--    <td>{{employee.name |uppercase}}</td>-->
<!--    <td>{{employee.salary }}</td>-->
<!--    <td>{{employee.dob}}</td>-->

<!--  </tr>-->
<!--</table>-->
<app-form-editor></app-form-editor>

