<div class="container">
  <div class="row">
    <div class="form-group">
      <form [formGroup]="SimpleForm" (ngSubmit)="onCreate()">

        <label for="Name"> Name:</label><br>
        <input type="text" id="name"  formControlName="name">&nbsp;<br>
        <span
          *ngIf="!SimpleForm.get('name').valid && SimpleForm.get('name').touched" class="help-block">please enter validname raj</span>
        <label for="Name"> Email:</label><br>
        <input type="text" id="email" formControlName="email">&nbsp;
        <span
          *ngIf="!SimpleForm.get('email').valid && SimpleForm.get('email').touched" class="help-block">please enter validemail@#!</span>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{gender}}
          </label>
        </div>
        <span
          *ngIf="!SimpleForm.valid && SimpleForm.touched" class="help-block">please enter validata
            </span>
        <div formArrayName="hobbies">
        <h4>hobby</h4>
        <button class="btn btn-success" type="button" (click)="onAddhobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of SimpleForm.get('hobbies').controls;let i = index">
            <input type="text" class="form-control" [formControlName]="i" >
          </div>
        </div>
          <button id="button" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>



